<div class="col-12 {{ footer-divider.options.show }} footer__column" {{ footer-divider.attributes }}>
  {% if footer-divider.options.hide_line == false %}
    <hr class="footer__divider">
  {% endif %}
</div>
